@using EmojiPicker.Areas.EmojiTextInput.Pages
@using EmojiPicker.Areas.EmojiTextInput.Emoji
@using System.Reflection

<style>
    .scrollable {
        overflow-y: scroll;
        height: 400px;
        width: 250px;
    }
</style>

<div class="scrollable">
    


    @foreach (string emoji in emojiInstance.GetAllConstants())
    {

        <EmojiBtn AddEmoji="AddEmoji" Emoji="@emoji" />
    }

</div>

@code {
    [Parameter]
    public EventCallback<string> AddEmoji { get; set; }
    private static Emoji emojiInstance = new Emoji(); // needed for reflection
}